<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<script>
    function addIngredient() {
        selIngTextArea = document.getElementById("textAreaIngredients");
        searchIng = document.getElementById("hiddeningredients");
        selIngTextArea.value =  document.getElementById("ingredient_select").value + "\n" + selIngTextArea.value;
        searchIng.value =  document.getElementById("hiddeningredients").value + "~~~" + document.getElementsByName("ingredient_select")[0].value;
        document.getElementById("ingredient_select").value = "";
        return;
    }
</script>

<body>

<header>
    <div th:replace="fragments :: nav"></div>
    <div th:replace="fragments :: banner"></div>
</header>

<div class="container body-content py-2">
    <div class=" border-4 border-dark bg-dark text-white w-100 p-3" style="text-align: center;">


        <div class="mx-auto rounded-5 border border-2 border-secondary border-2 bg-dark bg-gradient text-white-emphasis w-50 p-3">
        <h1 style="text-align: center;">Advanced Search</h1>
    </div>
        <p class="text-break mx-5 pt-4">Are there several ingredients sitting in your pantry that you need to put to use? You can refine your search even more by entering as many of your ingredients as you'd like use, as well as any you want to exclude.</p>
    </div>
    <div class="container border border-4 border-dark">
        <form method="post" action="/list">
            <div class="row py-2">
                <div class="col-12 col-md-6">
                    <h6 class="ms-5">Add each of the ingredients youd like to <strong><span class="fw-bolder text-primary">Include</span></strong> in your search: </h6>
                    <div class="input-group">
                        <select class="form-control basicAutoSelect" id="ingredient_select" name="ingredient_select"
                            placeholder="Enter all available Ingredients you'd like to use"
                            data-url="/search/filter/"
                            data-noresults-text="No ingredients found."
                            autocomplete="off"></select>
                        <button class="btn btn-outline-secondary" type="button" onclick="addIngredient()">Add</button>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <h6 class="mx-5">Add each of the ingredients youd like to<Strong><span class="fw-bolder text-danger">Exclude</span></strong> in your search: </h6>
                    <div class="input-group">
                        <select class="form-control basicAutoSelect" id="!ingredient_select" name="ingredient_select"
                                placeholder="Enter ingredient restrictions(Ex. Dietary limitations, Allergies, Dislikes, Etc.)">
                                /data-url="/search/filter/"
                                /data-noresults-text="No ingredients found."
                                /autocomplete="off">

                        </select>
                        <button class="btn btn-outline-secondary" type="button" onclick="">Add</button>
                    </div>
                </div>
            </div>

            <div class="row py-2">
                <div class="col-12 col-md-6">
                    <h5 class="text-muted">Include</h5>
                    <div class="input-group mb-3">
                        <textarea class="form-control" id="textAreaIngredients" rows="3" readonly></textarea>
                    </div>

                </div>

            <div class="col-12 col-md-6">
                <h5 class="text-muted">Exclude</h5>
                <div class="input-group mb-3">
                    <textarea class="form-control" id="!textAreaIngredients" rows="3" readonly></textarea>
                </div>
            </div>
                <div class="input-group">
                    <button class="mx-auto btn btn-primary btn-lg" type="submit" style="width: 200px;">Search</button>
                </div>
                </div>


                    <input type="hidden" id="hiddeningredients" th:field="${searchDTO.ingredients}"/>
    </form>







</div>

    </div>

    <script language="JavaScript">
        $(document).ready(function(){
            $('.basicAutoSelect').autoComplete();
        })  // end of document ready
     </script>

</div>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>