<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<header>
    <div th:replace="fragments :: nav"></div>
</header>

<div class="container">
    <div class="w-95 w-md-75 w-lg-60 w-xl-55 mx-auto mb-6 text-center">
        <div class="subtitle alt-font"><span class="text-primary"></span><span class="title"></span></div>
        <h2 class="display-18 display-md-16 display-lg-14 mb-0">Your Weekly Meal Plan<span class="text-primary"></span></h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="schedule-table">
                <table class="table bg-white">
                    <thead>
                    <tr>
                        <th>Meal</th>
                        <th>Breakfast</th>
                        <th>Lunch</th>
                        <th>Dinner</th>
                        <th class="last">Dessert</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="day">Sunday</td>
                        <td class="active">

                            <div class="hover">

                            </div>
                        </td>
                        <td></td>
                        <td class="active">

                            <div class="hover">

                            </div>
                        </td>
                        <td class="active">

                            <div class="hover">

                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td class="day">Monday</td>
                        <td></td>
                        <td class="active">

                            <div class="hover">

                            </div>
                        </td>
                        <td class="active">

                            <div class="hover">

                            </div>
                        </td>
                        <td></td>

                    </tr>
                    <tr>
                        <td class="day">Tuesday</td>
                        <td class="active">

                            <div class="hover">

                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td class="active">

                            <div class="hover">

                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td class="day">Wednesday</td>
                        <td class="active">

                            <div class="hover">

                            </div>
                        </td>
                        <td></td>
                        <td class="active">

                            <div class="hover">

                            </div>
                        </td>
                        <td></td>

                    </tr>
                    <tr>
                        <td class="day">Thursday</td>
                        <td></td>
                        <td class="active">

                            <div class="hover">

                            </div>
                        </td>
                        <td></td>
                        <td class="active">

                            <div class="hover">

                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td class="day">Friday</td>
                        <td class="active">

                            <div class="hover">

                            </div>
                        </td>
                        <td></td>
                        <td class="active">

                            <div class="hover">

                            </div>
                        </td>
                        <td></td>

                    </tr>
                    <tr>
                        <td class="day">Satarday</td>
                        <td></td>
                        <td></td>
                        <td class="active">

                            <div class="hover">

                            </div>
                        </td>
                        <td class="active">

                            <div class="hover">

                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments :: footer" id="footer"></footer>

</body>
</html>