<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:fragment="head">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <!-- Autocomplete & Data Tables -->
    <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@xcash-v300/dist/latest/bootstrap-autocomplete.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

    <!-- Title -->
    <title th:text="'The Pantry' + ${title == null ? '' : ' :: ' + title}">The Pantry</title>
</head>

<body>

<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}"><img src="/images/logo.png" height="50"></a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link px-3 text-uppercase" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 text-uppercase" th:href="@{/recipes}">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 text-uppercase" th:href="@{/search}">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 text-uppercase" th:href="@{/about}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 text-uppercase" th:href="@{/features}">Features</a>
                </li>
            </ul>
        </div>
        <div class="dropdown px-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownAccountButton" data-bs-toggle="dropdown" aria-expanded="false">
                Account
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownAccountButton">
                <li><a class="dropdown-item" th:href="@{/userAuth/register/}">Sign-Up</a></li>
                <li><a class="dropdown-item" th:href="@{/login/register/}">Login</a></li>
                <li><a class="dropdown-item" href="/logout">Log out</a></li>
                <!--                <li><a class="dropdown-item" >Login</a></li>-->
                <!--                <li><a class="dropdown-item" th:href="@{/admin/units/}">Units</a></li>-->
            </ul>
        </div>
        <div class="dropdown px-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Admin Menu
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" th:href="@{/admin/recipes/}">Recipes</a></li>
                <li><a class="dropdown-item" th:href="@{/admin/ingredients/}">Ingredients</a></li>
                <li><a class="dropdown-item" th:href="@{/admin/units/}">Units</a></li>
            </ul>
        </div>
    </div>
</nav>

<form method="post">
    <div class="form-group">
        <label th:for="username">Username
            <input class="form-control" th:field="${loginFormDTO.username}">
        </label>
        <p class="error" th:errors="${loginFormDTO.username}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" th:field="${loginFormDTO.password}" type="password">
        </label>
        <p class="error" th:errors="${loginFormDTO.password}"></p>
    </div>

    <input type="submit" class="btn btn-primary" value="Log In" />
</form>

<p>Don't have an account? <a href="/register">Register for one.</a></p>

</body>
</html>